@charset 'utf-8';
*{margin: 0;padding: 0}
ul,ol,li{list-style: none}
a{text-decoration: none;color: #000}
address{font-style: normal}
/*테이블관련*/

table{border-collapse: collapse}
caption{display: none}

/*form관련*/
legend{display: none}
fieldset{border:none}
input,select,textarea,button,label{box-sizing: border-box}

/*클리어픽스*/
.clearfix::after{content: '';display: block;clear:both}


/*이미지관련*/
img{vertical-align: middle}

/*화면에서 필요 없는 요소들에 적용*/
.blind{display: none}


/*h1,h2,h3,h4,h5,h6{font-weight: 400;font-size: 16px;}*/










